<%- include("header") %>
<h1>About Us</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti sint ipsum error provident enim officiis quod quis perferendis modi repellendus! Facilis natus veniam nihil laudantium?</p>
<%- include("footer") %>  